.logo-child {
    display: inline-block
}

.create-button-container, .edit-button-container {
    display: grid;
    text-align: center;
}

.image-container, #uploadImage {
    height: 200px;
    max-width: 600px;
}

.logo-container, #uploadLogo {
    height: 75px;
    max-width: 75px;
}

.caption-box {
    display: grid;
    padding: 10px;
    margin: 10px 0;
}

#color-container {
    margin: 10px;
    background-color: lightgray;
}

#cloudIcon {
    margin-right: 10px;
}

#logoBackground {
    background-color: lightgray;
}

#createButton,#viewButton,#saveButton,#deleteButton {
    text-align: center;
    background-color: #800000;
    color: white;
}