body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#profile {
    width: 100%;
    height: auto;
}

#navButton {
    color: white;
}