body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

#profileImage {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 56px;
  }

.page-container {
    margin-top: 75px;
}

#profile {
    width: 100%;
    height: auto;
}

#roseLogo {
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#navButton {
    color: white;
}

#search {
    height: auto;
    width: 50%;
}

#searchText {
    font-size: 40px;
}

#gamePage {
    padding: 0;
}

#mainImage {
    width: 100%;
}

#autherTitleBox {
    color: white;
    background-color: grey;
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
}

#gameTitle {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0;
}

#author {
    font-size: 1.5em;
    font-weight: bolder;
}

#starButton {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    margin-right: 100;
    margin-left: auto;
}

#review {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    margin-right: 100;
    margin-left: auto;
    background-color: #800000;
    color: white;
}